/node_modules/
package-lock.json





# auto generated wildcard
MyAppHANA2/.env
# auto generated wildcard
MyAppHANA2/db/.env
# auto generated wildcard
cap2/.env
# auto generated wildcard
cap3/.env
# auto generated wildcard
btpfs1/db/.env
# auto generated wildcard
btpfs1/.env
# auto generated wildcard
btpfs2/btpfs2hana/db/.env
# auto generated wildcard
btpfs2/btpfs2hana2/db/.env
# auto generated wildcard
btpfs3/.env
# auto generated wildcard
caphana1/.env
# auto generated wildcard
tiny1/srv/.env
# auto generated wildcard
tinyCap1/srv2/.env
# auto generated wildcard
tinyCap1/.env